.checkbox_input{
    -webkit-appearance: none;
    position:absolute;
}
.checkbox_box{
    display:block;
    width:25px;
    height:25px;
    border:2px solid #B8ADFE;
    border-radius:50%;
}
.checkbox_input:checked + .checkbox_box{
    background-color: #B8ADFE;
    position:relative;
}
.checkbox_input:checked + .checkbox_box:after{
    content:'';
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    width:12px;
    height:12px;
    background-color:#676BC2;
    border-radius:50%;
    transform:translate(-50%, -50%);
}

