.list_item{
    display:grid;
    align-items: center;
    padding: 13px 20px;
    border: 1px solid #E5E5E5;
    grid-template: auto 1fr / 20px 1fr 20px;

}

.checked{
    text-decoration: line-through;
}

.title{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #3F3D56;
    padding-left:19px;
    word-break: break-word;
}