.textarea{
    resize:none;
    display:block;
    grid-column-start:1;
    grid-column-end:-1;
    margin-top:10px;
    border:none;
    outline:none;
    height:auto;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #656380;
}