@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("./assets/background.png") no-repeat;
    background-position-y: top;
    background-size:70%;
    background-position-x: center;
}